/* Breakpoint 1: 1550px */
@media (min-width: 1536px) {
  .sticky .absolute:first-child > div {
    top: 8rem !important;
    left: 2rem !important;
    max-width: 90rem !important;
    padding: 1.75rem !important;
  }

  .sticky .absolute:first-child h1 {
    font-size: 52px !important;
    margin-bottom: 56px !important;
  }

  .sticky .absolute:first-child p:first-of-type {
    font-size: 22px !important;
    margin-bottom: 36px !important;
  }

  .sticky .absolute:first-child p:nth-of-type(2) {
    font-size: 20px !important;
    max-width: 48rem !important;
  }

  .sticky .absolute:first-child .space-y-4 {
    margin-top: 3rem !important;
  }

  .sticky .absolute:first-child .space-y-4 .h-0\.5 {
    max-width: 58rem !important;
  }

  .sticky .absolute:first-child .flex.items-center > div {
    gap: 1rem !important;
  }

  .sticky .absolute:first-child .flex.items-center > div > div:first-child {
    font-size: 38px !important;
  }

  .sticky .absolute:first-child .flex.items-center > div > div:last-child {
    font-size: 16px !important;
  }

  .sticky .absolute:first-child button {
    padding-top: 0.9rem !important;
    padding-bottom: 0.9rem !important;
    font-size: 28px !important;
  }

  /* Image 2 - Worldwide Presence Section */
  /* .sticky .absolute:nth-child(2) > div {
    top: 8rem !important;
    left: 2.5rem !important;
  } */

  .First_slider_heading {
    font-size: 54px !important;
    max-width: 60rem !important;
    margin-bottom: 2.5rem !important;
    line-height: 3.5rem !important;
  }

  .Second_slider_heading {
    font-size: 55px !important;
  }

  .sticky .absolute:nth-child(2) .space-y-4 > div:last-child {
    max-width: 850px !important;
  }

  /* Image 3 - Third Section */
  .sticky .absolute:nth-child(3) > div {
    top: 16rem !important;
    left: 2.5rem !important;
    max-width: 44rem !important;
    padding: 1.75rem !important;
  }

  .sticky .absolute:nth-child(3) h1 {
    font-size: 3.5rem !important;
    margin-bottom: 1.25rem !important;
  }

  .sticky .absolute:nth-child(3) p {
    font-size: 1.75rem !important;
  }

  .second-slider-container {
    top: 8rem !important;
    left: 2.5rem !important;
  }

  .second-slider-title {
    font-size: 55px !important;
    margin-bottom: 2rem !important;
    line-height: 3.5rem !important;
  }

  .second-slider-text-first {
    /* font-size: 21px !important; */
    margin-bottom: 1.75rem !important;
    max-width: 440px !important;
  }

  .second-slider-text-second {
    font-size: 18px !important;
    max-width: 420px !important;
  }

  .second-slider-stats {
    margin-top: 3.5rem !important;
  }

  .second-slider-line-top {
    max-width: 850px !important;
  }

  .second-slider-stats-wrapper {
    gap: 3.5rem !important;
  }

  .second-slider-stat-number {
    font-size: 3rem !important;
  }

  .second-slider-stat-label {
    font-size: 1.2rem !important;
    /* max-width: 11rem !important; */
  }

  .second-slider-line-bottom {
    max-width: 850px !important;
  }
}

/* Breakpoint 2: (min-width: 1800px) and (max-width: 2000px) 
 */
@media (min-width: 1800px) and (max-width: 2000px) {
  .sticky .absolute:first-child h1 {
    font-size: 60px !important;
    margin-bottom: 68px !important;
  }

  .sticky .absolute:first-child p:first-of-type {
    font-size: 24px !important;
    margin-bottom: 40px !important;
  }

  .sticky .absolute:first-child p:nth-of-type(2) {
    font-size: 24px !important;
    max-width: 51.25rem !important;
  }

  .sticky .absolute:first-child .space-y-4 {
    margin-top: 4rem !important;
  }

  .sticky .absolute:first-child .space-y-4 .h-0\.5 {
    max-width: 61rem !important;
  }

  .sticky .absolute:first-child .flex.items-center > div {
    /* gap: 1rem !important; */
  }

  .sticky .absolute:first-child .flex.items-center > div > div:last-child {
    font-size: 18px !important;
    /* max-width: 10rem !important; */
  }

  .sticky .absolute:first-child button {
    padding-bottom: 1rem !important;
    font-size: 32px !important;
  }


  /* Image 3 - Third Section */
  .sticky .absolute:nth-child(3) > div {
    top: 15rem !important;
    left: 2.5rem !important;
    max-width: 42rem !important;
    padding: 1.5rem !important;
  }

  .sticky .absolute:nth-child(3) h1 {
    font-size: 3.25rem !important;
    margin-bottom: 1rem !important;
  }

  .sticky .absolute:nth-child(3) p {
    font-size: 1.5rem !important;
  }


  /* SECOND SLIDER ONLY */

  .second-slider-container {
    top: 7.5rem !important;
    left: 2.5rem !important;
    padding: 2rem !important;
  }

  .second-slider-title {
    font-size: 60px !important;
    margin-bottom: 2.5rem !important;
    line-height: 4rem !important;
  }

  .second-slider-text-first {
    font-size: 24px !important;
    margin-bottom: 2rem !important;
    max-width: 440px !important;
  }

  .second-slider-text-second {
    font-size: 22px !important;
    max-width: 460px !important;
  }

  .second-slider-stats {
    /* margin-top: 4rem !important; */
  }

  .second-slider-line-top {
    max-width: 950px !important;
  }

  .second-slider-stats-wrapper {
    gap: 4.5rem !important;
  }

  .second-slider-stat-number {
    font-size: 3.8rem !important;
  }

 

  .second-slider-stat-label {
    font-size: 1rem !important;
    max-width: 12.5rem !important;
  }

  .second-slider-line-bottom {
    max-width: 950px !important;
  }
}
