/* Breakpoint 1: 1550px */
@media (min-width: 1536px) {
  /* Image 1 - Diamond Sets Section */
  .sticky .absolute:first-child > div {
    top: 8rem !important;
    left: 2rem !important;
    max-width: 90rem !important;
    padding: 1.75rem !important;
  }

  .sticky .absolute:first-child h1 {
    font-size: 52px !important;
    margin-bottom: 56px !important;
  }

  .sticky .absolute:first-child p:first-of-type {
    font-size: 22px !important;
    margin-bottom: 36px !important;
  }

  .sticky .absolute:first-child p:nth-of-type(2) {
    font-size: 20px !important;
    max-width: 48rem !important;
  }

  .sticky .absolute:first-child .space-y-4 {
    margin-top: 3rem !important;
  }

  .sticky .absolute:first-child .space-y-4 .h-0\.5 {
    max-width: 58rem !important;
  }

  .sticky .absolute:first-child .flex.items-center:has(> div:first-child) {
    /* gap: 0.6rem !important; */
    /* padding-top: 4rem !important;
    padding-bottom: 4rem !important; */
  }

  .sticky .absolute:first-child .flex.items-center > div {
    gap: 1rem !important;
  }

  .sticky .absolute:first-child .flex.items-center > div > div:first-child {
    font-size: 40px !important;
  }

  .sticky .absolute:first-child .flex.items-center > div > div:last-child {
    font-size: 18px !important;
    /* max-width: 7.5rem !important; */
  }

  .sticky .absolute:first-child button {
    /* margin-top: 4rem !important; */
    padding-top: 0.9rem !important;
    padding-bottom: 0.9rem !important;
    font-size: 28px !important;
  }

  /* Image 2 - Worldwide Presence Section */
  .sticky .absolute:nth-child(2) > div {
    top: 8rem !important;
    left: 2.5rem !important;
    /* padding: 1rem !important; */
  }

  .sticky .absolute:nth-child(2) h1 {
    font-size: 54px !important;
    max-width: 60rem !important;
    margin-bottom: 2.5rem !important;
    line-height: 3.5rem !important;
  }

  .sticky .absolute:nth-child(2) p:first-of-type {
    font-size: 21px !important;
    margin-bottom: 1.75rem !important;
  }

  .sticky .absolute:nth-child(2) p:nth-of-type(2) {
    font-size: 19px !important;
    /* max-width: 500px !important; */
  }

  .sticky .absolute:nth-child(2) .space-y-4 {
    margin-top: 3.5rem !important;
  }

  .sticky .absolute:nth-child(2) .space-y-4 > div:first-child {
    max-width: 850px !important;
  }

  .sticky .absolute:nth-child(2) .flex.items-center {
    /* gap: 5rem !important; */
    /* padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important; */
  }

  .sticky .absolute:nth-child(2) .flex.flex-col > div:first-child {
    /* font-size: 5rem !important; */
  }

  .sticky .absolute:nth-child(2) .flex.flex-col > div:last-child {
    font-size: 1.2rem !important;
    max-width: 11rem !important;
  }

  .sticky .absolute:nth-child(2) .space-y-4 > div:last-child {
    max-width: 850px !important;
  }

  /* Image 3 - Third Section */
  .sticky .absolute:nth-child(3) > div {
    top: 16rem !important;
    left: 2.5rem !important;
    max-width: 44rem !important;
    padding: 1.75rem !important;
  }

  .sticky .absolute:nth-child(3) h1 {
    font-size: 3.5rem !important;
    margin-bottom: 1.25rem !important;
  }

  .sticky .absolute:nth-child(3) p {
    font-size: 1.75rem !important;
  }
}

/* Breakpoint 2: (min-width: 1800px) and (max-width: 2000px) 
 */
@media (min-width: 1800px) and (max-width: 2000px) {
  /* Image 1 - Diamond Sets Section */
  .sticky .absolute:first-child > div {
    /* top: 9rem !important; */
    /* left: 2.8rem !important; */
    /* max-width: 200rem !important; */
    /* padding: 2rem !important; */
  }

  .sticky .absolute:first-child h1 {
    font-size: 60px !important;
    margin-bottom: 68px !important;
  }

  .sticky .absolute:first-child p:first-of-type {
    font-size: 24px !important;
    margin-bottom: 40px !important;
  }

  .sticky .absolute:first-child p:nth-of-type(2) {
    font-size: 24px !important;
    max-width: 51.25rem !important;
  }

  .sticky .absolute:first-child .space-y-4 {
    margin-top: 4rem !important;
  }

  .sticky .absolute:first-child .space-y-4 .h-0\.5 {
    max-width: 61rem !important;
  }

  .sticky .absolute:first-child .flex.items-center:has(> div:first-child) {
    /* gap: 8rem !important; */
    /* padding-top: 6rem !important;
    padding-bottom: 6rem !important; */
  }

  .sticky .absolute:first-child .flex.items-center > div {
    gap: 1rem !important;
  }

  .sticky .absolute:first-child .flex.items-center > div > div:first-child {
    /* font-size: 80px !important; */
  }

  .sticky .absolute:first-child .flex.items-center > div > div:last-child {
    font-size: 18px !important;
    /* max-width: 10rem !important; */
  }

  .sticky .absolute:first-child button {
    /* margin-top: 6rem !important; */
    /* padding-top: 1rem !important; */
    padding-bottom: 1rem !important;
    font-size: 32px !important;
  }

  /* Image 2 - Worldwide Presence Section */
  .sticky .absolute:nth-child(2) > div {
    top: 7.5rem !important;
    left: 2.5rem !important;
    padding: 1rem !important;
  }

  .sticky .absolute:nth-child(2) h1 {
    font-size: 62px !important;
    max-width: 70rem !important;
    margin-bottom: 6rem !important;
    line-height: 4rem !important;
  }

  .sticky .absolute:nth-child(2) p:first-of-type {
    font-size: 24px !important;
    margin-bottom: 2rem !important;
  }

  .sticky .absolute:nth-child(2) p:nth-of-type(2) {
    font-size: 24px !important;
    /* max-width: 550px !important; */
  }

  .sticky .absolute:nth-child(2) .space-y-4 {
    /* margin-top: 4rem !important; */
  }

  .sticky .absolute:nth-child(2) .space-y-4 > div:first-child {
    max-width: 950px !important;
  }

  .sticky .absolute:nth-child(2) .flex.items-center {
    gap: 4.5rem !important;
    /* padding-top: 1.5rem !important; */
    /* padding-bottom: 1.5rem !important; */
  }

  .sticky .absolute:nth-child(2) .flex.flex-col > div:first-child {
    /* font-size: 6rem !important; */
  }

  .sticky .absolute:nth-child(2) .flex.flex-col > div:last-child {
    font-size: 1.25rem !important;
    max-width: 12.5rem !important;
  }

  .sticky .absolute:nth-child(2) .space-y-4 > div:last-child {
    max-width: 950px !important;
  }

  /* Image 3 - Third Section */
  .sticky .absolute:nth-child(3) > div {
    top: 15rem !important;
    left: 2.5rem !important;
    max-width: 42rem !important;
    padding: 1.5rem !important;
  }

  .sticky .absolute:nth-child(3) h1 {
    font-size: 3.25rem !important;
    margin-bottom: 1rem !important;
  }

  .sticky .absolute:nth-child(3) p {
    font-size: 1.5rem !important;
  }
}
























